<h1>Python. Clase 1</h1>

<strong>¡Bienvenido!</strong>Este notebook le enseñará los fundamentos del lenguaje de programación Python. Aunque la información presentada aquí es bastante básica, es una base importante que te ayudará a leer y escribir código Python. Al final de este notebook, conocerás los fundamentos de Python, incluyendo cómo escribir comandos básicos, entender algunos tipos básicos y cómo realizar operaciones simples en ellos.

<h2>Contenido</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#hello">"Hola Mundo"</a>
            <ul>
                <li><a href="version">Verificar version de Python</a></li>
                <li><a href="comments">Escribir comentarios en Python</a></li>
                <li><a href="errors">Errores en Python</a></li>
                <li><a href="python_error">¿Python sabe que cometes un error antes de ejecutar tu codigo?</a></li>
                <li><a href="exercise">Ejercicio: Tu primer programa</a></li>
            </ul>
        </li>
        <li>
            <a href="#types_objects">Tipos de objetos en Python</a>
            <ul>
                <li><a href="int">Enteros</a></li>
                <li><a href="float">Flotantes</a></li>
                <li><a href="convert">Convertir de un tipo de objeto a otro tipo de objeto diferente</a></li>
                <li><a href="bool">Datos tipos booleanos</a></li>
                <li><a href="exer_type">Ejercicio: Tipos</a></li>
            </ul>
        </li>
        <li>
            <a href="#expressions">Expresiones y variables</a>
            <ul>
                <li><a href="exp">Expresiones</a></li>
                <li><a href="exer_exp">Ejercicio: Expresiones</a></li>
                <li><a href="var">Variables</a></li>
                <li><a href="exer_exp_var">Ejercicio: Expresiones y variables en Python</a></li>
            </ul>
        </li>
    </ul>
    <p>
       Tiempo estimado <strong>25 min</strong>
    </p>
</div>

<hr>

<h2 id="hello">"Hola Mundo" en Python</h2>

Cuando se aprende un nuevo lenguaje de programación, se acostumbra a empezar con un ejemplo de "hola mundo". Tan simple como es, esta línea de código asegurará que sepamos cómo imprimir una cadena en la salida y cómo ejecutar el código dentro de las celdas de un cuaderno.

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Para ejecutar el código Python en la celda de código de abajo, haga clic en la celda para seleccionarla y presione <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [10]:
# Hola mundo

print('Hola, Python!')

Hola, Python!

Después de ejecutar la celda de arriba, deberías ver que Python imprime <código>Hola, Python!</código>. ¡Felicitaciones por ejecutar su primer código Python!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> es una función. Usaste la cadena "¡Hola, Python!" como argumento para instruir a Python sobre qué imprimir.
</div>
<hr/>

<h3 id="version">¿Qué version de python estoy utilizando?</h3>

<p>
    Hay dos versiones populares del lenguaje de programación Python en uso hoy en día: Python 2 y Python 3. La comunidad Python ha decidido pasar de Python 2 a Python 3, y muchas bibliotecas populares han anunciado que ya no soportarán Python 2.
</p>
<p>
    Como Python 3 es el futuro, en este curso lo usaremos exclusivamente. ¿Cómo sabemos que nuestro notebook se ejecuta en  Python 3? Podemos mirar en la esquina superior derecha del notebook y ver "Python 3".
</p>
<p>
    También podemos preguntar directamente a Python y obtener una respuesta detallada. Intenta ejecutar el siguiente código:
</p>

In [2]:
# Verificar la version de Python

import sys
print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> es un módulo incorporado que contiene muchos parámetros y funciones específicos del sistema, incluida la versión de Python en uso. Antes de usarlo, debemos  <code>importarlo</code> .
</div>
<hr/>

<h3 id="comments">Escribir comentarios en Python</h3>

<p>
   Además de escribir el código, ten en cuenta que siempre es una buena idea añadir comentarios a tu código. Ayudará a los demás a entender lo que intentabas lograr (la razón por la que escribiste un determinado fragmento de código). Esto no sólo ayuda a que <strong> otras personas </strong> entiendan tu código, sino que también puede servir como un recordatorio <strong>para ti </strong> cuando vuelvas a él semanas o meses después..</p>

<p>
    Para escribir comentarios en Python, use el símbolo numérico <código>#</código> antes de escribir su comentario. Cuando corras tu código, Python ignorará todo lo que pase el <código>#</código> en una línea determinada.
</p>

In [3]:
# Practique escribiendo comentarios

print('Hola, Python!') # Esta linea imprime una cadena

Hola, Python!

<p>
  Después de ejecutar la celda de arriba, se debe notar que <code>Esta línea imprime una cadena</code> no apareció en el resultado, porque era un comentario (y por lo tanto ignorado por Python).
</p>

<h3 id="errors">Errores en Python</h3>

<p>Todo el mundo comete errores. Para muchos tipos de errores, Python te dirá que has cometido un error dándote un mensaje de error. Es importante leer los mensajes de error con cuidado para entender realmente dónde has cometido un error y cómo puedes corregirlo.</p>
<p>Por ejemplo, si escribes <code>print</code> como <code>frint</code>, Python mostrará un mensaje de error. Intentalo:</p>

In [11]:
# Error al imprimir una cadena

print("Hola, Python!")

Hola, Python!

<p>El mensaje de error te dice: 
<ol>
    <li>donde se produjo el error (más útil en celdas con muchas lineas de codigo o en scripts), y</li> 
    <li>que tipo de eroor se cometió (NameError)</li> 
</ol>
<p>Aquí, Python intentó ejecutar la función <código>frint</código>, pero no pudo determinar  lo qué es <código>frint</código> ya que no es una función incorporada y tampoco ha sido definida previamente por nosotros.</p>

<p>
    Si cometemos un tipo de error diferente,por ejemplo, olvidarnos de cerrar la cadena, obtendremos un error diferente (es decir, un <código>Error de Sintaxis</código>). Inténtalo abajo::
</p>

In [14]:
# Error de sintaxis

print("Hello, Python!")

Hello, Python!

<h3 id="python_error">¿Python sabe que cometes un error antes de ejecutar tu codigo??</h3>

Python es lo que se llama un <em> lenguaje interpretado</em>. Los lenguajes compilados examinan todo el programa en tiempo de compilación, y son capaces de advertirle sobre toda una clase de errores antes de la ejecución. En contraste, Python interpreta tu guión línea por línea mientras lo ejecuta. Python dejará de ejecutar todo el programa cuando encuentre un error (a menos que el error sea esperado y manejado por el programador, un tema más avanzado que cubriremos más adelante en este curso).

Intenta ejecutar el código en la celda de abajo y ver qué pasa:

In [15]:
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

<h3 id="exercise">Ejercicio: Tu primer programa</h3>

<p>Generaciones de programadores han comenzado sus carreras de codificación simplemente imprimiendo "¡Hola, mundo!". Seguirán sus pasos.</p>
<p>En la celda de código de abajo, use la función <código>print()</código> para imprimir la frase: <código>Hola, mundo!</código></p>

In [16]:
# Escribe el codigo aqui
print('hola mundo')

hola mundo

Doble click __aqui__ para ver la solución.

<!-- Your answer is below:

print("Hola, mundo!")

-->

<p>Ahora, vamos a mejorar su código con un comentario. En la celda de código de abajo, imprime la frase: <código>Hola, mundo!</código> y coméntalo con la frase <código> Imprime el tradicional hola mundo </código> todo en una línea de código.</p>

In [ ]:
# Write your code below and press Shift+Enter to execute

Doble click __aqui__ para ver la solución.
<!-- Your answer is below:

print("Hola, mundo!") # imprime la frase: Hola, mundo!

-->

<hr>

<h2 id="types_objects" align="center">Types of objects in Python</h2>

<p>Python es un lenguaje orientado a objetos. Hay muchos tipos diferentes de objetos en Python. Empecemos con los tipos de objetos más comunes: <i>String</i>, <i>integers</i> y <i>float</i>. Cada vez que escribes palabras (texto) en Python, estás usando <i>cadenas de caracteres</i> (string). Los números más comunes, por otro lado, son <i>números enteros</i> (por ejemplo, -1, 0, 100) y <i>flotantes</i>, que representan números reales (por ejemplo, 3,14, -42,0).</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [17]:
# Integer

11

11

In [18]:
# Float

2.14

2.14

In [19]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

<p>Puedes hacer que Python te diga el tipo de una expresión usando la función incorporada <code>type()</code>. Notarás que Python se refiere a los enteros como<code> int</code>, a los flotantes como <code>float</code>, y a las cadenas de caracteres como <code>str</code>.</p>

In [20]:
# Type of 12

type(12)

int

In [21]:
# Type of 2.14

type(2.14)

float

In [22]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

<p>In the code cell below, use the <code>type()</code> function to check the object type of <code>12.0</code>.

In [23]:
# Escribe to codigo aquí
type(12.0)

float

Doble-click __aqui__ para la solución.

<!-- Your answer is below:

type(12.0)

-->

<h3 id="int">Enteros</h3>

<p>Aquí hay algunos ejemplos de números enteros. Los números enteros pueden ser negativos o positivos:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>Podemos verificar que esto es así usando la función <code>type()</code>:

In [24]:
# Imprime el tipo de dato de -1

type(-1)

int

In [25]:
# Imprime el tipo de dato de  4

type(4)

int

In [26]:
# Imprime el tipo de dato de  0

type(0)

int

<h3 id="float">Floats</h3>

<p>Las flotantes representan números reales; son un superconjunto de números enteros pero también incluyen "números con decimales". Existen algunas limitaciones cuando se trata de máquinas que representan números reales, pero los números  flotantes son una buena representación en la mayoría de los casos. Se puede aprender más sobre las características específicas de los flotantes para su entorno de ejecución, comprobando el valor de <code>sys.float_info</code>. Esto también te dirá cuál es el número más grande y más pequeño que puede ser representado con ellos.</p>

<p>Una vez más, puede probar algunos ejemplos con la función <code>type()</code>:

In [27]:
# Imprime el tipo de dato de 1.0

type(1.0) # Observa que 1 es un int, y 1.0 es un float

float

In [28]:
# Imprime el tipo de dato de 0.5

type(0.5)

float

In [29]:
# Imprime el tipo de dato de 0.56

type(0.56)

float

In [30]:
# System settings about float type

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

<h3 id="convert">Convertir de un tipo de objeto a otro tipo de objeto diferente</h3>

<p>Puedes cambiar el tipo de objeto en Python; esto se llama encasillamiento. Por ejemplo, puedes convertir un <i>integer</i> en un <i>float</i>(e.g. 2 to 2.0).</p>

In [31]:
# Vericar que es un integer

type(2)

int

<h4>Convertir integers a floats</h4>
<p>Vamos a convertir 2 a float:</p>

In [32]:
# Convertir 2  a float

float(2)

2.0

In [33]:
# Convertir integer 2  a float y verificar su tipo

type(float(2))

float

<p>Cuando convertimos un número entero en un flotante, no cambiamos realmente el valor del número. Sin embargo, si cambiamos un flotante en un número entero, podríamos potencialmente perder cierta información. Por ejemplo, si cambiamos el flotante 1.1 a un número entero obtendremos como resultado 1 y perderemos la información decimal (es decir, 0.1)):</p>

In [37]:
# Cambiar 1.1 a integer resultara en perdida de informacion

int(1.1)

1

In [39]:
int(round(1.7))

2

<h4>Convertir strings a integers o floats</h4>

<p>A veces, podemos tener una cadena que contiene un número dentro de ella. Si este es el caso, podemos cambiar esa cadena que representa un número a un integer usando <code>int()</code>:</p>

In [40]:
# Convertir un string a integer

int('1')

1

<p>Pero si intentas hacerlo con una cadena que no coincide perfectamente con un número, obtendrás un error. Intenta lo siguiente:</p>

In [41]:
# Convertir un string a integer con error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>También puede convertir cadenas que contienen números de tipo flotante en objetos <i>float</i>:</p>

In [42]:
# Convertir el string "1.2" en un float

float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Obsérvese que las cadenas pueden representarse con comillas simples  (<code>'1.2'</code>) o dobles (<code>"1.2"</code>), pero no se pueden mezclar ambas (por ejemplo, <code>"1.2'</code>).
</div>
<hr/>

<h4>Convertir numberos a strings</h4>

<p>Si podemos convertir cadenas en números, es natural asumir que podemos convertir números en cadenas, ¿verdad?</p>

In [43]:
# Convertir un integer  a string

str(1)

'1'

<p>Y no hay razón para que no podamos convertir los flotadores en cuerdas también:</p>

In [44]:
# Convertir un float a string

str(1.2)

'1.2'

<h3 id="bool">Tipo de dato Boolean </h3>

<p><i>Boolean</i> es otro tipo importante en Python. Un objeto de tipo  <i>Booleano</i>  puede tomar uno de dos valores: <code>True</code> o <code>False</code>:</p>

In [ ]:
# Valortrue

True

<p>Notice that the value <code>True</code> has an uppercase "T". The same is true for <code>False</code> (i.e. you must use the uppercase "F").</p>

In [ ]:
# Valor false

False

<p>Cuando le pides a Python que muestre el tipo de objeto booleano, mostrará <code>bool</code> que significa <i>booleano</i>:</p>

In [45]:
# Tipo de True

type(True)

bool

In [46]:
# Tipo de False

type(False)

bool

<p>Podemos cambiar los objetos booleanos por otros tipos de datos. Si cambiamos un booleano con un valor de  <code>True</code> a un entero o flotante obtendremos un uno. Si cambiamos un booleano con un valor de <code>False</code> a un entero o flotante obtendremos un cero. De manera similar, si le damos un 1 a un booleano, obtenemos un  <code>True</code>. Y si ponemos un 0 a un booleano, obtenemos un<code>False</code>. Vamos a intentarlo:</p>

In [47]:
# Convertir True a int

int(True)

1

In [48]:
# Convertir 1 a boolean

bool(1)

True

In [49]:
# Convertir 0 a boolean

bool(0)

False

In [51]:
int(False)

0

In [50]:
# Convertir True a float

float(True)

1.0

<h3 id="exer_type">Ejercicio: Tipos</h3>

<p>¿Cuál es el tipo de datos del resultado de: <code>6 / 2</code>?</p>

In [52]:
#Escribe to codigo aquí
type(6/2)

float

Doble-click __aqui__ para la solución.

<!-- Your answer is below:
type(6/2) # float
-->

<p>¿Cuál es el tipo de datos del resultado de: <code>6 // 2</code>? (Observa la doble diagonal <code>//</code>.)</p>

In [53]:
# Escribe to codigo aquí
type(6//2)

int

Doble-click __aqui__ para la solución.

<!-- Your answer is below:
type(6//2) # int, as the double slashes stand for integer division 
-->

<hr>

<h2 id="expressions">Expresiones y variables</h2>

<h3 id="exp">Expresiones </h3>

<p>Las expresiones en Python pueden incluir operaciones entre tipos compatibles (por ejemplo, números enteros y flotantes). Por ejemplo, las operaciones aritméticas básicas como la suma de varios números:</p>

In [54]:
#Expresión de la operación de suma

43 + 60 + 16 + 41

160

<p>Podemos realizar operaciones de resta utilizando el operador menos. En este caso el resultado es un número negativo:</p>

In [55]:
# Expresión de la operación de resta

50 - 60

-10

<p>Podemos hacer la multiplicación usando un asterisco:</p>

In [56]:
# Expresión de la operación de multiplicación

5 * 5

25

<p>También podemos realizar la división con una diagonal:

In [57]:
# Expresion de la operación de división.

25 / 5

5.0

In [58]:
# Expresion de la operación de división.

25 / 6

4.166666666666667

<p>Podemos usar la doble diagonal para la división de números enteros, donde el resultado se redondea al número entero más cercano:

In [59]:
# Expresion de la operación de división de enteros

25 // 5

5

In [60]:
# Expresion de la operación de división de enteros

25 // 6

4

<h3 id="exer_exp">Ejercicio: Expresiones</h3>

<p>Escribamos una expresión que calcule cuántas horas hay en 160 minutos:

In [61]:
# Escribe tu codigo aquí
160/60

2.6666666666666665

Doble-click __aqui__ para la solución.
<!-- Your answer is below:
160/60 
# Or 
160//60
-->

<p>Python sigue convenciones matemáticas bien aceptadas al evaluar las expresiones matemáticas. En el siguiente ejemplo, Python suma 30 al resultado de la multiplicación (es decir, 120).

In [62]:
# Expresiones matematicas

30 + 2 * 60

150

<p>Y al igual que las matemáticas, las expresiones entre paréntesis tienen prioridad. Así que lo siguiente se multiplica por 32 por 60.

In [63]:
# Expresiones matematicas

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>

<p>Al igual que con la mayoría de los lenguajes de programación, podemos almacenar valores en <i>variables</i>, para poder usarlos más tarde. Por ejemplo:</p>

In [64]:
# Guardar el valor en una variable

x = 43 + 60 + 16 + 41

<p>Para ver el valor de <code>x</code> en el  Notebook, podemos solo escribir la variable en la celda:</p>

In [65]:
# Imprimir el valor de la variable

x

160

<p>Tambien podemos realizar operaciones con  <code>x</code> y guardar el resultado en una nueva variable :</p>

In [66]:
# Realizar operación con una variable y guardar el resultado en otra

y = x / 60
y

2.6666666666666665

<p>Si guardamos un valor en una variable existente, el nuevo valor sobrescribirá el valor anterior:</p>

In [67]:
# Sobreescribir el valor de una variable por uno nuevo

x = x / 60
x

2.6666666666666665

<p>Es una buena práctica usar nombres de variables con sentido, para que usted y los demás puedan leer el código y entenderlo más fácilmente:</p>

In [68]:
# Nombrar variable con sentido

total_min = 43 + 42 + 57 # Duracion en minutos
total_min

142

In [69]:
# Nombrar variable con sentido

total_hours = total_min / 60 # Duracion en horas
total_hours

2.3666666666666667

<p>En las celdas de arriba agregamos la duración de tres álbumes en minutos y lo guardamos en  <code>total_min</code>.Luego lo dividimos entre 60 para calcular la longitud total <code>total_hours</code> en horas. También puedes hacerlo todo de una vez en una sola expresión, siempre y cuando uses paréntesis para sumar la longitud de los álbumes antes de dividir, como se muestra a continuación.</p>

In [70]:
# Expresion complicada

total_hours = (43 + 42 + 57) // 60  # Horas totales en una sola expresion
total_hours

2

<p>Si prefieres tener el total de horas como un número entero, puedes, por supuesto, reemplazar la división  flotante con la división entera (es decir, <code>//</code>).</p>

<h3 id="exer_exp_var">Ejercicio: Expresiones y Variables en Python</h3>

<p>Cual es el valor de <code>x</code> donde <code>x = 3 + 2 * 2</code></p>

In [ ]:
# Escribe tu respuesta aqui

Doble-click __aquí__ para la solucion.

<!-- Your answer is below:
7
-->

<p>Cual es el valor de <code>y</code> donde <code>y = (3 + 2) * 2</code>?</p>

In [ ]:
# Escribe tu respuesta aqui

Doble-click __aquí__ para la solucion.

<!-- Your answer is below:
10
-->

<p>Cual es el valor de <code>z</code> donde <code>z = x + y</code>?</p>

In [ ]:
# Escribe tu respuesta aqui

Doble-click __aquí__ para la solucion.

<!-- Your answer is below:
17
-->